<!-- trabajador_login.html -->
{% extends "login/home/login_base.html" %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 security-box">
            <a href="{% url 'login_selector' %}" class="btn-return d-inline-flex align-items-center mb-4">
                <i class="fas fa-arrow-left me-2"></i> Volver al Selector
            </a>
            <div class="card shadow-lg">
                <div class="card-header bg-primary text-white">
                    <h3><i class="bi bi-person-circle"></i> Acceso Trabajadores</h3>
                </div>
                <div class="card-body">
                    <form method="post" id="trabajador-form">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label class="form-label">username</label>
                            <input type="text" name="username" class="form-control" 
                                   required autocomplete="off" >
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Contraseña </label>
                            <input type="password" name="password" class="form-control" 
                                   required autocomplete="one-time-code"
                                   maxlength="100" readonly
                                   onfocus="this.removeAttribute('readonly')">
                        </div>
                        
                        {% if form.captcha %}
                        <div class="mb-3">
                            {{ form.captcha }}
                        </div>
                        {% endif %}
                        
                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-primary">
                                <i class="bi bi-box-arrow-in-right"></i> Acceder
                            </button>
                            
                        </div>
                    </form>
                </div>
                <div class="card-footer text-muted small">
                    <i class="bi bi-shield-check"></i> Conexión segura SSL/TLS
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}