--
-- PostgreSQL database dump
--

-- Dumped from database version 13.21 (Debian 13.21-1.pgdg120+1)
-- Dumped by pg_dump version 13.21 (Debian 13.21-1.pgdg120+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: WEB_auditoriaacceso; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public."WEB_auditoriaacceso" (
    id bigint NOT NULL,
    "timestamp" timestamp with time zone NOT NULL,
    ip_address inet NOT NULL,
    user_agent text NOT NULL,
    exito boolean NOT NULL,
    motivo text NOT NULL,
    usuario_id bigint
);


ALTER TABLE public."WEB_auditoriaacceso" OWNER TO "user";

--
-- Name: WEB_auditoriaacceso_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

ALTER TABLE public."WEB_auditoriaacceso" ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."WEB_auditoriaacceso_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: WEB_cobro; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public."WEB_cobro" (
    id bigint NOT NULL,
    ultima_actualizacion timestamp with time zone NOT NULL,
    monto_total numeric(10,2) NOT NULL,
    fecha_inicio date NOT NULL,
    fecha_fin date NOT NULL,
    estado character varying(20) NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    empresa_id bigint NOT NULL,
    vigencia_plan_id bigint
);


ALTER TABLE public."WEB_cobro" OWNER TO "user";

--
-- Name: WEB_cobro_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

ALTER TABLE public."WEB_cobro" ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."WEB_cobro_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: WEB_cobro_vigencias_planes; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public."WEB_cobro_vigencias_planes" (
    id bigint NOT NULL,
    cobro_id bigint NOT NULL,
    vigenciaplan_id bigint NOT NULL
);


ALTER TABLE public."WEB_cobro_vigencias_planes" OWNER TO "user";

--
-- Name: WEB_cobro_vigencias_planes_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

ALTER TABLE public."WEB_cobro_vigencias_planes" ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."WEB_cobro_vigencias_planes_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: WEB_comuna; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public."WEB_comuna" (
    id bigint NOT NULL,
    nombre character varying(100) NOT NULL,
    provincia_id bigint NOT NULL
);


ALTER TABLE public."WEB_comuna" OWNER TO "user";

--
-- Name: WEB_comuna_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

ALTER TABLE public."WEB_comuna" ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."WEB_comuna_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: WEB_diahabilitado; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public."WEB_diahabilitado" (
    id bigint NOT NULL,
    fecha date NOT NULL,
    habilitado boolean NOT NULL,
    usuario_id bigint NOT NULL
);


ALTER TABLE public."WEB_diahabilitado" OWNER TO "user";

--
-- Name: WEB_diahabilitado_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

ALTER TABLE public."WEB_diahabilitado" ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."WEB_diahabilitado_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: WEB_emailnotification; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public."WEB_emailnotification" (
    id bigint NOT NULL,
    subject character varying(255) NOT NULL,
    sender character varying(255) NOT NULL,
    received_date timestamp with time zone NOT NULL,
    procesado boolean NOT NULL
);


ALTER TABLE public."WEB_emailnotification" OWNER TO "user";

--
-- Name: WEB_emailnotification_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

ALTER TABLE public."WEB_emailnotification" ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."WEB_emailnotification_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: WEB_historialcambios; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public."WEB_historialcambios" (
    id bigint NOT NULL,
    fecha timestamp with time zone NOT NULL,
    descripcion text NOT NULL,
    empresa_id bigint NOT NULL,
    usuario_id bigint
);


ALTER TABLE public."WEB_historialcambios" OWNER TO "user";

--
-- Name: WEB_historialcambios_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

ALTER TABLE public."WEB_historialcambios" ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."WEB_historialcambios_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: WEB_historialnotificaciones; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public."WEB_historialnotificaciones" (
    id bigint NOT NULL,
    fecha_envio timestamp with time zone NOT NULL,
    estado boolean NOT NULL,
    empresa_id bigint NOT NULL,
    usuario_id bigint,
    vigencia_plan_id bigint
);


ALTER TABLE public."WEB_historialnotificaciones" OWNER TO "user";

--
-- Name: WEB_historialnotificaciones_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

ALTER TABLE public."WEB_historialnotificaciones" ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."WEB_historialnotificaciones_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: WEB_historialpagos; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public."WEB_historialpagos" (
    id bigint NOT NULL,
    fecha timestamp with time zone NOT NULL,
    descripcion text NOT NULL,
    pago_id bigint NOT NULL,
    usuario_id bigint
);


ALTER TABLE public."WEB_historialpagos" OWNER TO "user";

--
-- Name: WEB_historialpagos_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

ALTER TABLE public."WEB_historialpagos" ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."WEB_historialpagos_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: WEB_horario; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public."WEB_horario" (
    id bigint NOT NULL,
    nombre character varying(100) NOT NULL,
    hora_entrada time without time zone NOT NULL,
    hora_salida time without time zone NOT NULL,
    tolerancia_retraso integer NOT NULL,
    tolerancia_horas_extra integer NOT NULL,
    empresa_id bigint NOT NULL,
    tipo_horario character varying(20) NOT NULL
);


ALTER TABLE public."WEB_horario" OWNER TO "user";

--
-- Name: WEB_horario_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

ALTER TABLE public."WEB_horario" ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."WEB_horario_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: WEB_iteminventario; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public."WEB_iteminventario" (
    id bigint NOT NULL,
    nombre character varying(100) NOT NULL,
    codigo character varying(50) NOT NULL,
    categoria character varying(50) NOT NULL,
    stock integer NOT NULL,
    empresa_id bigint NOT NULL
);


ALTER TABLE public."WEB_iteminventario" OWNER TO "user";

--
-- Name: WEB_iteminventario_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

ALTER TABLE public."WEB_iteminventario" ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."WEB_iteminventario_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: WEB_pago; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public."WEB_pago" (
    id bigint NOT NULL,
    monto numeric(10,2) NOT NULL,
    fecha_pago timestamp with time zone NOT NULL,
    metodo character varying(20) NOT NULL,
    comprobante character varying(100),
    pagado boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    observaciones text,
    cobro_id bigint,
    empresa_id bigint NOT NULL
);


ALTER TABLE public."WEB_pago" OWNER TO "user";

--
-- Name: WEB_pago_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

ALTER TABLE public."WEB_pago" ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."WEB_pago_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: WEB_pago_vigencia_planes; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public."WEB_pago_vigencia_planes" (
    id bigint NOT NULL,
    pago_id bigint NOT NULL,
    vigenciaplan_id bigint NOT NULL
);


ALTER TABLE public."WEB_pago_vigencia_planes" OWNER TO "user";

--
-- Name: WEB_pago_vigencia_planes_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

ALTER TABLE public."WEB_pago_vigencia_planes" ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."WEB_pago_vigencia_planes_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: WEB_plan; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public."WEB_plan" (
    id bigint NOT NULL,
    estado character varying(20) NOT NULL,
    nombre character varying(100) NOT NULL,
    max_usuarios integer NOT NULL,
    valor numeric(10,2) NOT NULL,
    codigo character varying(20) NOT NULL,
    activo boolean NOT NULL,
    descripcion text,
    CONSTRAINT "WEB_plan_max_usuarios_check" CHECK ((max_usuarios >= 0))
);


ALTER TABLE public."WEB_plan" OWNER TO "user";

--
-- Name: WEB_plan_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

ALTER TABLE public."WEB_plan" ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."WEB_plan_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: WEB_provincia; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public."WEB_provincia" (
    id bigint NOT NULL,
    nombre character varying(100) NOT NULL,
    region_id bigint NOT NULL
);


ALTER TABLE public."WEB_provincia" OWNER TO "user";

--
-- Name: WEB_provincia_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

ALTER TABLE public."WEB_provincia" ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."WEB_provincia_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: WEB_region; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public."WEB_region" (
    id bigint NOT NULL,
    nombre character varying(100) NOT NULL
);


ALTER TABLE public."WEB_region" OWNER TO "user";

--
-- Name: WEB_region_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

ALTER TABLE public."WEB_region" ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."WEB_region_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: WEB_registroempresas; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public."WEB_registroempresas" (
    id bigint NOT NULL,
    codigo_cliente character varying(20) NOT NULL,
    fecha_ingreso date NOT NULL,
    rut character varying(13) NOT NULL,
    nombre character varying(100) NOT NULL,
    giro character varying(100) NOT NULL,
    direccion character varying(200) NOT NULL,
    numero character varying(20) NOT NULL,
    oficina character varying(20) NOT NULL,
    telefono character varying(20) NOT NULL,
    celular character varying(20) NOT NULL,
    email character varying(254) NOT NULL,
    web character varying(200) NOT NULL,
    vigente boolean NOT NULL,
    estado character varying(20) NOT NULL,
    rut_representante character varying(12) NOT NULL,
    nombre_representante character varying(100) NOT NULL,
    nombre_contacto character varying(100) NOT NULL,
    celular_contacto character varying(20) NOT NULL,
    mail_contacto character varying(254) NOT NULL,
    eliminada boolean NOT NULL,
    comuna_id bigint NOT NULL,
    provincia_id bigint NOT NULL,
    region_id bigint NOT NULL
);


ALTER TABLE public."WEB_registroempresas" OWNER TO "user";

--
-- Name: WEB_registroempresas_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

ALTER TABLE public."WEB_registroempresas" ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."WEB_registroempresas_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: WEB_registroentrada; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public."WEB_registroentrada" (
    id bigint NOT NULL,
    metodo character varying(20) NOT NULL,
    hora_entrada timestamp with time zone NOT NULL,
    hora_salida timestamp with time zone,
    latitud numeric(9,6),
    longitud numeric(9,6),
    firma_digital text,
    huella_id character varying(100),
    huella_validada boolean NOT NULL,
    "precision" double precision,
    empresa_id bigint,
    trabajador_id bigint NOT NULL,
    es_horas_extra boolean NOT NULL,
    es_retraso boolean NOT NULL,
    minutos_horas_extra integer NOT NULL,
    minutos_retraso integer NOT NULL
);


ALTER TABLE public."WEB_registroentrada" OWNER TO "user";

--
-- Name: WEB_registroentrada_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

ALTER TABLE public."WEB_registroentrada" ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."WEB_registroentrada_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: WEB_transaccion; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public."WEB_transaccion" (
    id bigint NOT NULL,
    fecha date NOT NULL,
    descripcion text NOT NULL,
    tipo character varying(10) NOT NULL,
    monto numeric(10,2) NOT NULL,
    empresa_id bigint NOT NULL
);


ALTER TABLE public."WEB_transaccion" OWNER TO "user";

--
-- Name: WEB_transaccion_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

ALTER TABLE public."WEB_transaccion" ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."WEB_transaccion_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: WEB_turno; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public."WEB_turno" (
    id bigint NOT NULL,
    nombre character varying(100) NOT NULL,
    dias_trabajo integer NOT NULL,
    dias_descanso integer NOT NULL,
    inicio_turno date,
    empresa_id bigint NOT NULL
);


ALTER TABLE public."WEB_turno" OWNER TO "user";

--
-- Name: WEB_turno_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

ALTER TABLE public."WEB_turno" ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."WEB_turno_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: WEB_usuario; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public."WEB_usuario" (
    id bigint NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    username character varying(150) NOT NULL,
    first_name character varying(150) NOT NULL,
    last_name character varying(150) NOT NULL,
    is_staff boolean NOT NULL,
    is_active boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL,
    role character varying(20) NOT NULL,
    rut character varying(12) NOT NULL,
    celular character varying(20) NOT NULL,
    email character varying(254) NOT NULL,
    is_locked boolean NOT NULL,
    failed_login_attempts integer NOT NULL,
    last_failed_login timestamp with time zone,
    empresa_id bigint,
    vigencia_plan_id bigint,
    metodo_registro_permitido character varying(20) NOT NULL,
    horario_id bigint,
    turno_id bigint,
    CONSTRAINT "WEB_usuario_failed_login_attempts_check" CHECK ((failed_login_attempts >= 0))
);


ALTER TABLE public."WEB_usuario" OWNER TO "user";

--
-- Name: WEB_usuario_groups; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public."WEB_usuario_groups" (
    id bigint NOT NULL,
    usuario_id bigint NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public."WEB_usuario_groups" OWNER TO "user";

--
-- Name: WEB_usuario_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

ALTER TABLE public."WEB_usuario_groups" ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."WEB_usuario_groups_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: WEB_usuario_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

ALTER TABLE public."WEB_usuario" ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."WEB_usuario_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: WEB_usuario_user_permissions; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public."WEB_usuario_user_permissions" (
    id bigint NOT NULL,
    usuario_id bigint NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public."WEB_usuario_user_permissions" OWNER TO "user";

--
-- Name: WEB_usuario_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

ALTER TABLE public."WEB_usuario_user_permissions" ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."WEB_usuario_user_permissions_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: WEB_vigenciaplan; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public."WEB_vigenciaplan" (
    id bigint NOT NULL,
    fecha_inicio date NOT NULL,
    fecha_fin date,
    monto_plan numeric(10,2) NOT NULL,
    descuento numeric(5,2) NOT NULL,
    monto_final numeric(10,2) NOT NULL,
    codigo_plan character varying(50) NOT NULL,
    estado character varying(20) NOT NULL,
    empresa_id bigint NOT NULL,
    plan_id bigint NOT NULL,
    max_usuarios_override integer,
    CONSTRAINT "WEB_vigenciaplan_max_usuarios_override_check" CHECK ((max_usuarios_override >= 0))
);


ALTER TABLE public."WEB_vigenciaplan" OWNER TO "user";

--
-- Name: WEB_vigenciaplan_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

ALTER TABLE public."WEB_vigenciaplan" ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."WEB_vigenciaplan_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO "user";

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO "user";

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO "user";

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: biometrics_huellas; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.biometrics_huellas (
    id bigint NOT NULL,
    template bytea NOT NULL,
    quality integer NOT NULL,
    user_id bigint NOT NULL
);


ALTER TABLE public.biometrics_huellas OWNER TO "user";

--
-- Name: biometrics_huellas_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

ALTER TABLE public.biometrics_huellas ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.biometrics_huellas_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id bigint NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO "user";

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO "user";

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO "user";

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO "user";

--
-- Name: WEB_auditoriaacceso WEB_auditoriaacceso_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public."WEB_auditoriaacceso"
    ADD CONSTRAINT "WEB_auditoriaacceso_pkey" PRIMARY KEY (id);


--
-- Name: WEB_cobro WEB_cobro_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public."WEB_cobro"
    ADD CONSTRAINT "WEB_cobro_pkey" PRIMARY KEY (id);


--
-- Name: WEB_cobro_vigencias_planes WEB_cobro_vigencias_plan_cobro_id_vigenciaplan_id_73eb6493_uniq; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public."WEB_cobro_vigencias_planes"
    ADD CONSTRAINT "WEB_cobro_vigencias_plan_cobro_id_vigenciaplan_id_73eb6493_uniq" UNIQUE (cobro_id, vigenciaplan_id);


--
-- Name: WEB_cobro_vigencias_planes WEB_cobro_vigencias_planes_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public."WEB_cobro_vigencias_planes"
    ADD CONSTRAINT "WEB_cobro_vigencias_planes_pkey" PRIMARY KEY (id);


--
-- Name: WEB_comuna WEB_comuna_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public."WEB_comuna"
    ADD CONSTRAINT "WEB_comuna_pkey" PRIMARY KEY (id);


--
-- Name: WEB_diahabilitado WEB_diahabilitado_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public."WEB_diahabilitado"
    ADD CONSTRAINT "WEB_diahabilitado_pkey" PRIMARY KEY (id);


--
-- Name: WEB_diahabilitado WEB_diahabilitado_usuario_id_fecha_3f7b573a_uniq; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public."WEB_diahabilitado"
    ADD CONSTRAINT "WEB_diahabilitado_usuario_id_fecha_3f7b573a_uniq" UNIQUE (usuario_id, fecha);


--
-- Name: WEB_emailnotification WEB_emailnotification_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public."WEB_emailnotification"
    ADD CONSTRAINT "WEB_emailnotification_pkey" PRIMARY KEY (id);


--
-- Name: WEB_historialcambios WEB_historialcambios_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public."WEB_historialcambios"
    ADD CONSTRAINT "WEB_historialcambios_pkey" PRIMARY KEY (id);


--
-- Name: WEB_historialnotificaciones WEB_historialnotificaciones_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public."WEB_historialnotificaciones"
    ADD CONSTRAINT "WEB_historialnotificaciones_pkey" PRIMARY KEY (id);


--
-- Name: WEB_historialpagos WEB_historialpagos_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public."WEB_historialpagos"
    ADD CONSTRAINT "WEB_historialpagos_pkey" PRIMARY KEY (id);


--
-- Name: WEB_horario WEB_horario_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public."WEB_horario"
    ADD CONSTRAINT "WEB_horario_pkey" PRIMARY KEY (id);


--
-- Name: WEB_iteminventario WEB_iteminventario_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public."WEB_iteminventario"
    ADD CONSTRAINT "WEB_iteminventario_pkey" PRIMARY KEY (id);


--
-- Name: WEB_pago WEB_pago_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public."WEB_pago"
    ADD CONSTRAINT "WEB_pago_pkey" PRIMARY KEY (id);


--
-- Name: WEB_pago_vigencia_planes WEB_pago_vigencia_planes_pago_id_vigenciaplan_id_71483bd0_uniq; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public."WEB_pago_vigencia_planes"
    ADD CONSTRAINT "WEB_pago_vigencia_planes_pago_id_vigenciaplan_id_71483bd0_uniq" UNIQUE (pago_id, vigenciaplan_id);


--
-- Name: WEB_pago_vigencia_planes WEB_pago_vigencia_planes_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public."WEB_pago_vigencia_planes"
    ADD CONSTRAINT "WEB_pago_vigencia_planes_pkey" PRIMARY KEY (id);


--
-- Name: WEB_plan WEB_plan_codigo_key; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public."WEB_plan"
    ADD CONSTRAINT "WEB_plan_codigo_key" UNIQUE (codigo);


--
-- Name: WEB_plan WEB_plan_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public."WEB_plan"
    ADD CONSTRAINT "WEB_plan_pkey" PRIMARY KEY (id);


--
-- Name: WEB_provincia WEB_provincia_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public."WEB_provincia"
    ADD CONSTRAINT "WEB_provincia_pkey" PRIMARY KEY (id);


--
-- Name: WEB_region WEB_region_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public."WEB_region"
    ADD CONSTRAINT "WEB_region_pkey" PRIMARY KEY (id);


--
-- Name: WEB_registroempresas WEB_registroempresas_codigo_cliente_key; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public."WEB_registroempresas"
    ADD CONSTRAINT "WEB_registroempresas_codigo_cliente_key" UNIQUE (codigo_cliente);


--
-- Name: WEB_registroempresas WEB_registroempresas_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public."WEB_registroempresas"
    ADD CONSTRAINT "WEB_registroempresas_pkey" PRIMARY KEY (id);


--
-- Name: WEB_registroempresas WEB_registroempresas_rut_key; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public."WEB_registroempresas"
    ADD CONSTRAINT "WEB_registroempresas_rut_key" UNIQUE (rut);


--
-- Name: WEB_registroempresas WEB_registroempresas_rut_representante_key; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public."WEB_registroempresas"
    ADD CONSTRAINT "WEB_registroempresas_rut_representante_key" UNIQUE (rut_representante);


--
-- Name: WEB_registroentrada WEB_registroentrada_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public."WEB_registroentrada"
    ADD CONSTRAINT "WEB_registroentrada_pkey" PRIMARY KEY (id);


--
-- Name: WEB_transaccion WEB_transaccion_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public."WEB_transaccion"
    ADD CONSTRAINT "WEB_transaccion_pkey" PRIMARY KEY (id);


--
-- Name: WEB_turno WEB_turno_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public."WEB_turno"
    ADD CONSTRAINT "WEB_turno_pkey" PRIMARY KEY (id);


--
-- Name: WEB_usuario_groups WEB_usuario_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public."WEB_usuario_groups"
    ADD CONSTRAINT "WEB_usuario_groups_pkey" PRIMARY KEY (id);


--
-- Name: WEB_usuario_groups WEB_usuario_groups_usuario_id_group_id_7a3f7275_uniq; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public."WEB_usuario_groups"
    ADD CONSTRAINT "WEB_usuario_groups_usuario_id_group_id_7a3f7275_uniq" UNIQUE (usuario_id, group_id);


--
-- Name: WEB_usuario WEB_usuario_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public."WEB_usuario"
    ADD CONSTRAINT "WEB_usuario_pkey" PRIMARY KEY (id);


--
-- Name: WEB_usuario WEB_usuario_rut_key; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public."WEB_usuario"
    ADD CONSTRAINT "WEB_usuario_rut_key" UNIQUE (rut);


--
-- Name: WEB_usuario_user_permissions WEB_usuario_user_permiss_usuario_id_permission_id_a5927bd5_uniq; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public."WEB_usuario_user_permissions"
    ADD CONSTRAINT "WEB_usuario_user_permiss_usuario_id_permission_id_a5927bd5_uniq" UNIQUE (usuario_id, permission_id);


--
-- Name: WEB_usuario_user_permissions WEB_usuario_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public."WEB_usuario_user_permissions"
    ADD CONSTRAINT "WEB_usuario_user_permissions_pkey" PRIMARY KEY (id);


--
-- Name: WEB_usuario WEB_usuario_username_key; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public."WEB_usuario"
    ADD CONSTRAINT "WEB_usuario_username_key" UNIQUE (username);


--
-- Name: WEB_vigenciaplan WEB_vigenciaplan_codigo_plan_key; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public."WEB_vigenciaplan"
    ADD CONSTRAINT "WEB_vigenciaplan_codigo_plan_key" UNIQUE (codigo_plan);


--
-- Name: WEB_vigenciaplan WEB_vigenciaplan_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public."WEB_vigenciaplan"
    ADD CONSTRAINT "WEB_vigenciaplan_pkey" PRIMARY KEY (id);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: biometrics_huellas biometrics_huellas_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.biometrics_huellas
    ADD CONSTRAINT biometrics_huellas_pkey PRIMARY KEY (id);


--
-- Name: biometrics_huellas biometrics_huellas_user_id_key; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.biometrics_huellas
    ADD CONSTRAINT biometrics_huellas_user_id_key UNIQUE (user_id);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: WEB_auditoriaacceso_usuario_id_8d7d5897; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX "WEB_auditoriaacceso_usuario_id_8d7d5897" ON public."WEB_auditoriaacceso" USING btree (usuario_id);


--
-- Name: WEB_cobro_empresa_id_ea1b8c43; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX "WEB_cobro_empresa_id_ea1b8c43" ON public."WEB_cobro" USING btree (empresa_id);


--
-- Name: WEB_cobro_vigencia_plan_id_e7d0d8de; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX "WEB_cobro_vigencia_plan_id_e7d0d8de" ON public."WEB_cobro" USING btree (vigencia_plan_id);


--
-- Name: WEB_cobro_vigencias_planes_cobro_id_88ce3a0e; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX "WEB_cobro_vigencias_planes_cobro_id_88ce3a0e" ON public."WEB_cobro_vigencias_planes" USING btree (cobro_id);


--
-- Name: WEB_cobro_vigencias_planes_vigenciaplan_id_e33d0e60; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX "WEB_cobro_vigencias_planes_vigenciaplan_id_e33d0e60" ON public."WEB_cobro_vigencias_planes" USING btree (vigenciaplan_id);


--
-- Name: WEB_comuna_provincia_id_f870282a; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX "WEB_comuna_provincia_id_f870282a" ON public."WEB_comuna" USING btree (provincia_id);


--
-- Name: WEB_diahabilitado_usuario_id_d7c27a4b; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX "WEB_diahabilitado_usuario_id_d7c27a4b" ON public."WEB_diahabilitado" USING btree (usuario_id);


--
-- Name: WEB_historialcambios_empresa_id_5b7a92af; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX "WEB_historialcambios_empresa_id_5b7a92af" ON public."WEB_historialcambios" USING btree (empresa_id);


--
-- Name: WEB_historialcambios_usuario_id_a1bc49bb; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX "WEB_historialcambios_usuario_id_a1bc49bb" ON public."WEB_historialcambios" USING btree (usuario_id);


--
-- Name: WEB_historialnotificaciones_empresa_id_673dbf61; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX "WEB_historialnotificaciones_empresa_id_673dbf61" ON public."WEB_historialnotificaciones" USING btree (empresa_id);


--
-- Name: WEB_historialnotificaciones_usuario_id_34c4f601; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX "WEB_historialnotificaciones_usuario_id_34c4f601" ON public."WEB_historialnotificaciones" USING btree (usuario_id);


--
-- Name: WEB_historialnotificaciones_vigencia_plan_id_a35d428d; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX "WEB_historialnotificaciones_vigencia_plan_id_a35d428d" ON public."WEB_historialnotificaciones" USING btree (vigencia_plan_id);


--
-- Name: WEB_historialpagos_pago_id_91ad5a25; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX "WEB_historialpagos_pago_id_91ad5a25" ON public."WEB_historialpagos" USING btree (pago_id);


--
-- Name: WEB_historialpagos_usuario_id_c55c4b4e; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX "WEB_historialpagos_usuario_id_c55c4b4e" ON public."WEB_historialpagos" USING btree (usuario_id);


--
-- Name: WEB_horario_empresa_id_2484de63; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX "WEB_horario_empresa_id_2484de63" ON public."WEB_horario" USING btree (empresa_id);


--
-- Name: WEB_iteminventario_empresa_id_4b090e26; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX "WEB_iteminventario_empresa_id_4b090e26" ON public."WEB_iteminventario" USING btree (empresa_id);


--
-- Name: WEB_pago_cobro_id_b81c8512; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX "WEB_pago_cobro_id_b81c8512" ON public."WEB_pago" USING btree (cobro_id);


--
-- Name: WEB_pago_empresa_id_9ffa7238; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX "WEB_pago_empresa_id_9ffa7238" ON public."WEB_pago" USING btree (empresa_id);


--
-- Name: WEB_pago_vigencia_planes_pago_id_69750a4a; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX "WEB_pago_vigencia_planes_pago_id_69750a4a" ON public."WEB_pago_vigencia_planes" USING btree (pago_id);


--
-- Name: WEB_pago_vigencia_planes_vigenciaplan_id_35ca866f; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX "WEB_pago_vigencia_planes_vigenciaplan_id_35ca866f" ON public."WEB_pago_vigencia_planes" USING btree (vigenciaplan_id);


--
-- Name: WEB_plan_codigo_2a552bce_like; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX "WEB_plan_codigo_2a552bce_like" ON public."WEB_plan" USING btree (codigo varchar_pattern_ops);


--
-- Name: WEB_provincia_region_id_b69fc1b3; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX "WEB_provincia_region_id_b69fc1b3" ON public."WEB_provincia" USING btree (region_id);


--
-- Name: WEB_registroempresas_codigo_cliente_dd4c7431_like; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX "WEB_registroempresas_codigo_cliente_dd4c7431_like" ON public."WEB_registroempresas" USING btree (codigo_cliente varchar_pattern_ops);


--
-- Name: WEB_registroempresas_comuna_id_a644f6d1; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX "WEB_registroempresas_comuna_id_a644f6d1" ON public."WEB_registroempresas" USING btree (comuna_id);


--
-- Name: WEB_registroempresas_provincia_id_cd86d641; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX "WEB_registroempresas_provincia_id_cd86d641" ON public."WEB_registroempresas" USING btree (provincia_id);


--
-- Name: WEB_registroempresas_region_id_fa1626e2; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX "WEB_registroempresas_region_id_fa1626e2" ON public."WEB_registroempresas" USING btree (region_id);


--
-- Name: WEB_registroempresas_rut_64067772_like; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX "WEB_registroempresas_rut_64067772_like" ON public."WEB_registroempresas" USING btree (rut varchar_pattern_ops);


--
-- Name: WEB_registroempresas_rut_representante_19be8c43_like; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX "WEB_registroempresas_rut_representante_19be8c43_like" ON public."WEB_registroempresas" USING btree (rut_representante varchar_pattern_ops);


--
-- Name: WEB_registroentrada_empresa_id_bb0d39f8; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX "WEB_registroentrada_empresa_id_bb0d39f8" ON public."WEB_registroentrada" USING btree (empresa_id);


--
-- Name: WEB_registroentrada_trabajador_id_4bdf88bc; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX "WEB_registroentrada_trabajador_id_4bdf88bc" ON public."WEB_registroentrada" USING btree (trabajador_id);


--
-- Name: WEB_transaccion_empresa_id_abcb6018; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX "WEB_transaccion_empresa_id_abcb6018" ON public."WEB_transaccion" USING btree (empresa_id);


--
-- Name: WEB_turno_empresa_id_c590f2c3; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX "WEB_turno_empresa_id_c590f2c3" ON public."WEB_turno" USING btree (empresa_id);


--
-- Name: WEB_usuario_empresa_id_8195e98c; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX "WEB_usuario_empresa_id_8195e98c" ON public."WEB_usuario" USING btree (empresa_id);


--
-- Name: WEB_usuario_groups_group_id_2b76fbd1; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX "WEB_usuario_groups_group_id_2b76fbd1" ON public."WEB_usuario_groups" USING btree (group_id);


--
-- Name: WEB_usuario_groups_usuario_id_59b38903; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX "WEB_usuario_groups_usuario_id_59b38903" ON public."WEB_usuario_groups" USING btree (usuario_id);


--
-- Name: WEB_usuario_horario_id_6cba94d2; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX "WEB_usuario_horario_id_6cba94d2" ON public."WEB_usuario" USING btree (horario_id);


--
-- Name: WEB_usuario_rut_afb53091_like; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX "WEB_usuario_rut_afb53091_like" ON public."WEB_usuario" USING btree (rut varchar_pattern_ops);


--
-- Name: WEB_usuario_turno_id_1a667504; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX "WEB_usuario_turno_id_1a667504" ON public."WEB_usuario" USING btree (turno_id);


--
-- Name: WEB_usuario_user_permissions_permission_id_8659c0bc; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX "WEB_usuario_user_permissions_permission_id_8659c0bc" ON public."WEB_usuario_user_permissions" USING btree (permission_id);


--
-- Name: WEB_usuario_user_permissions_usuario_id_ef478454; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX "WEB_usuario_user_permissions_usuario_id_ef478454" ON public."WEB_usuario_user_permissions" USING btree (usuario_id);


--
-- Name: WEB_usuario_username_ad3cbd2f_like; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX "WEB_usuario_username_ad3cbd2f_like" ON public."WEB_usuario" USING btree (username varchar_pattern_ops);


--
-- Name: WEB_usuario_vigencia_plan_id_589d2b36; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX "WEB_usuario_vigencia_plan_id_589d2b36" ON public."WEB_usuario" USING btree (vigencia_plan_id);


--
-- Name: WEB_vigenciaplan_codigo_plan_8e455091_like; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX "WEB_vigenciaplan_codigo_plan_8e455091_like" ON public."WEB_vigenciaplan" USING btree (codigo_plan varchar_pattern_ops);


--
-- Name: WEB_vigenciaplan_empresa_id_4234578c; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX "WEB_vigenciaplan_empresa_id_4234578c" ON public."WEB_vigenciaplan" USING btree (empresa_id);


--
-- Name: WEB_vigenciaplan_plan_id_2aec3976; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX "WEB_vigenciaplan_plan_id_2aec3976" ON public."WEB_vigenciaplan" USING btree (plan_id);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: WEB_auditoriaacceso WEB_auditoriaacceso_usuario_id_8d7d5897_fk_WEB_usuario_id; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public."WEB_auditoriaacceso"
    ADD CONSTRAINT "WEB_auditoriaacceso_usuario_id_8d7d5897_fk_WEB_usuario_id" FOREIGN KEY (usuario_id) REFERENCES public."WEB_usuario"(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: WEB_cobro WEB_cobro_empresa_id_ea1b8c43_fk_WEB_registroempresas_id; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public."WEB_cobro"
    ADD CONSTRAINT "WEB_cobro_empresa_id_ea1b8c43_fk_WEB_registroempresas_id" FOREIGN KEY (empresa_id) REFERENCES public."WEB_registroempresas"(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: WEB_cobro WEB_cobro_vigencia_plan_id_e7d0d8de_fk_WEB_vigenciaplan_id; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public."WEB_cobro"
    ADD CONSTRAINT "WEB_cobro_vigencia_plan_id_e7d0d8de_fk_WEB_vigenciaplan_id" FOREIGN KEY (vigencia_plan_id) REFERENCES public."WEB_vigenciaplan"(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: WEB_cobro_vigencias_planes WEB_cobro_vigencias__vigenciaplan_id_e33d0e60_fk_WEB_vigen; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public."WEB_cobro_vigencias_planes"
    ADD CONSTRAINT "WEB_cobro_vigencias__vigenciaplan_id_e33d0e60_fk_WEB_vigen" FOREIGN KEY (vigenciaplan_id) REFERENCES public."WEB_vigenciaplan"(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: WEB_cobro_vigencias_planes WEB_cobro_vigencias_planes_cobro_id_88ce3a0e_fk_WEB_cobro_id; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public."WEB_cobro_vigencias_planes"
    ADD CONSTRAINT "WEB_cobro_vigencias_planes_cobro_id_88ce3a0e_fk_WEB_cobro_id" FOREIGN KEY (cobro_id) REFERENCES public."WEB_cobro"(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: WEB_comuna WEB_comuna_provincia_id_f870282a_fk_WEB_provincia_id; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public."WEB_comuna"
    ADD CONSTRAINT "WEB_comuna_provincia_id_f870282a_fk_WEB_provincia_id" FOREIGN KEY (provincia_id) REFERENCES public."WEB_provincia"(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: WEB_diahabilitado WEB_diahabilitado_usuario_id_d7c27a4b_fk_WEB_usuario_id; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public."WEB_diahabilitado"
    ADD CONSTRAINT "WEB_diahabilitado_usuario_id_d7c27a4b_fk_WEB_usuario_id" FOREIGN KEY (usuario_id) REFERENCES public."WEB_usuario"(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: WEB_historialcambios WEB_historialcambios_empresa_id_5b7a92af_fk_WEB_regis; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public."WEB_historialcambios"
    ADD CONSTRAINT "WEB_historialcambios_empresa_id_5b7a92af_fk_WEB_regis" FOREIGN KEY (empresa_id) REFERENCES public."WEB_registroempresas"(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: WEB_historialcambios WEB_historialcambios_usuario_id_a1bc49bb_fk_WEB_usuario_id; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public."WEB_historialcambios"
    ADD CONSTRAINT "WEB_historialcambios_usuario_id_a1bc49bb_fk_WEB_usuario_id" FOREIGN KEY (usuario_id) REFERENCES public."WEB_usuario"(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: WEB_historialnotificaciones WEB_historialnotific_empresa_id_673dbf61_fk_WEB_regis; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public."WEB_historialnotificaciones"
    ADD CONSTRAINT "WEB_historialnotific_empresa_id_673dbf61_fk_WEB_regis" FOREIGN KEY (empresa_id) REFERENCES public."WEB_registroempresas"(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: WEB_historialnotificaciones WEB_historialnotific_usuario_id_34c4f601_fk_WEB_usuar; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public."WEB_historialnotificaciones"
    ADD CONSTRAINT "WEB_historialnotific_usuario_id_34c4f601_fk_WEB_usuar" FOREIGN KEY (usuario_id) REFERENCES public."WEB_usuario"(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: WEB_historialnotificaciones WEB_historialnotific_vigencia_plan_id_a35d428d_fk_WEB_vigen; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public."WEB_historialnotificaciones"
    ADD CONSTRAINT "WEB_historialnotific_vigencia_plan_id_a35d428d_fk_WEB_vigen" FOREIGN KEY (vigencia_plan_id) REFERENCES public."WEB_vigenciaplan"(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: WEB_historialpagos WEB_historialpagos_pago_id_91ad5a25_fk_WEB_pago_id; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public."WEB_historialpagos"
    ADD CONSTRAINT "WEB_historialpagos_pago_id_91ad5a25_fk_WEB_pago_id" FOREIGN KEY (pago_id) REFERENCES public."WEB_pago"(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: WEB_historialpagos WEB_historialpagos_usuario_id_c55c4b4e_fk_WEB_usuario_id; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public."WEB_historialpagos"
    ADD CONSTRAINT "WEB_historialpagos_usuario_id_c55c4b4e_fk_WEB_usuario_id" FOREIGN KEY (usuario_id) REFERENCES public."WEB_usuario"(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: WEB_horario WEB_horario_empresa_id_2484de63_fk_WEB_registroempresas_id; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public."WEB_horario"
    ADD CONSTRAINT "WEB_horario_empresa_id_2484de63_fk_WEB_registroempresas_id" FOREIGN KEY (empresa_id) REFERENCES public."WEB_registroempresas"(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: WEB_iteminventario WEB_iteminventario_empresa_id_4b090e26_fk_WEB_regis; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public."WEB_iteminventario"
    ADD CONSTRAINT "WEB_iteminventario_empresa_id_4b090e26_fk_WEB_regis" FOREIGN KEY (empresa_id) REFERENCES public."WEB_registroempresas"(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: WEB_pago WEB_pago_cobro_id_b81c8512_fk_WEB_cobro_id; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public."WEB_pago"
    ADD CONSTRAINT "WEB_pago_cobro_id_b81c8512_fk_WEB_cobro_id" FOREIGN KEY (cobro_id) REFERENCES public."WEB_cobro"(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: WEB_pago WEB_pago_empresa_id_9ffa7238_fk_WEB_registroempresas_id; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public."WEB_pago"
    ADD CONSTRAINT "WEB_pago_empresa_id_9ffa7238_fk_WEB_registroempresas_id" FOREIGN KEY (empresa_id) REFERENCES public."WEB_registroempresas"(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: WEB_pago_vigencia_planes WEB_pago_vigencia_pl_vigenciaplan_id_35ca866f_fk_WEB_vigen; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public."WEB_pago_vigencia_planes"
    ADD CONSTRAINT "WEB_pago_vigencia_pl_vigenciaplan_id_35ca866f_fk_WEB_vigen" FOREIGN KEY (vigenciaplan_id) REFERENCES public."WEB_vigenciaplan"(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: WEB_pago_vigencia_planes WEB_pago_vigencia_planes_pago_id_69750a4a_fk_WEB_pago_id; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public."WEB_pago_vigencia_planes"
    ADD CONSTRAINT "WEB_pago_vigencia_planes_pago_id_69750a4a_fk_WEB_pago_id" FOREIGN KEY (pago_id) REFERENCES public."WEB_pago"(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: WEB_provincia WEB_provincia_region_id_b69fc1b3_fk_WEB_region_id; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public."WEB_provincia"
    ADD CONSTRAINT "WEB_provincia_region_id_b69fc1b3_fk_WEB_region_id" FOREIGN KEY (region_id) REFERENCES public."WEB_region"(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: WEB_registroempresas WEB_registroempresas_comuna_id_a644f6d1_fk_WEB_comuna_id; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public."WEB_registroempresas"
    ADD CONSTRAINT "WEB_registroempresas_comuna_id_a644f6d1_fk_WEB_comuna_id" FOREIGN KEY (comuna_id) REFERENCES public."WEB_comuna"(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: WEB_registroempresas WEB_registroempresas_provincia_id_cd86d641_fk_WEB_provincia_id; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public."WEB_registroempresas"
    ADD CONSTRAINT "WEB_registroempresas_provincia_id_cd86d641_fk_WEB_provincia_id" FOREIGN KEY (provincia_id) REFERENCES public."WEB_provincia"(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: WEB_registroempresas WEB_registroempresas_region_id_fa1626e2_fk_WEB_region_id; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public."WEB_registroempresas"
    ADD CONSTRAINT "WEB_registroempresas_region_id_fa1626e2_fk_WEB_region_id" FOREIGN KEY (region_id) REFERENCES public."WEB_region"(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: WEB_registroentrada WEB_registroentrada_empresa_id_bb0d39f8_fk_WEB_regis; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public."WEB_registroentrada"
    ADD CONSTRAINT "WEB_registroentrada_empresa_id_bb0d39f8_fk_WEB_regis" FOREIGN KEY (empresa_id) REFERENCES public."WEB_registroempresas"(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: WEB_registroentrada WEB_registroentrada_trabajador_id_4bdf88bc_fk_WEB_usuario_id; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public."WEB_registroentrada"
    ADD CONSTRAINT "WEB_registroentrada_trabajador_id_4bdf88bc_fk_WEB_usuario_id" FOREIGN KEY (trabajador_id) REFERENCES public."WEB_usuario"(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: WEB_transaccion WEB_transaccion_empresa_id_abcb6018_fk_WEB_registroempresas_id; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public."WEB_transaccion"
    ADD CONSTRAINT "WEB_transaccion_empresa_id_abcb6018_fk_WEB_registroempresas_id" FOREIGN KEY (empresa_id) REFERENCES public."WEB_registroempresas"(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: WEB_turno WEB_turno_empresa_id_c590f2c3_fk_WEB_registroempresas_id; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public."WEB_turno"
    ADD CONSTRAINT "WEB_turno_empresa_id_c590f2c3_fk_WEB_registroempresas_id" FOREIGN KEY (empresa_id) REFERENCES public."WEB_registroempresas"(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: WEB_usuario WEB_usuario_empresa_id_8195e98c_fk_WEB_registroempresas_id; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public."WEB_usuario"
    ADD CONSTRAINT "WEB_usuario_empresa_id_8195e98c_fk_WEB_registroempresas_id" FOREIGN KEY (empresa_id) REFERENCES public."WEB_registroempresas"(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: WEB_usuario_groups WEB_usuario_groups_group_id_2b76fbd1_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public."WEB_usuario_groups"
    ADD CONSTRAINT "WEB_usuario_groups_group_id_2b76fbd1_fk_auth_group_id" FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: WEB_usuario_groups WEB_usuario_groups_usuario_id_59b38903_fk_WEB_usuario_id; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public."WEB_usuario_groups"
    ADD CONSTRAINT "WEB_usuario_groups_usuario_id_59b38903_fk_WEB_usuario_id" FOREIGN KEY (usuario_id) REFERENCES public."WEB_usuario"(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: WEB_usuario WEB_usuario_horario_id_6cba94d2_fk_WEB_horario_id; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public."WEB_usuario"
    ADD CONSTRAINT "WEB_usuario_horario_id_6cba94d2_fk_WEB_horario_id" FOREIGN KEY (horario_id) REFERENCES public."WEB_horario"(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: WEB_usuario WEB_usuario_turno_id_1a667504_fk_WEB_turno_id; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public."WEB_usuario"
    ADD CONSTRAINT "WEB_usuario_turno_id_1a667504_fk_WEB_turno_id" FOREIGN KEY (turno_id) REFERENCES public."WEB_turno"(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: WEB_usuario_user_permissions WEB_usuario_user_per_permission_id_8659c0bc_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public."WEB_usuario_user_permissions"
    ADD CONSTRAINT "WEB_usuario_user_per_permission_id_8659c0bc_fk_auth_perm" FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: WEB_usuario_user_permissions WEB_usuario_user_per_usuario_id_ef478454_fk_WEB_usuar; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public."WEB_usuario_user_permissions"
    ADD CONSTRAINT "WEB_usuario_user_per_usuario_id_ef478454_fk_WEB_usuar" FOREIGN KEY (usuario_id) REFERENCES public."WEB_usuario"(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: WEB_usuario WEB_usuario_vigencia_plan_id_589d2b36_fk_WEB_vigenciaplan_id; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public."WEB_usuario"
    ADD CONSTRAINT "WEB_usuario_vigencia_plan_id_589d2b36_fk_WEB_vigenciaplan_id" FOREIGN KEY (vigencia_plan_id) REFERENCES public."WEB_vigenciaplan"(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: WEB_vigenciaplan WEB_vigenciaplan_empresa_id_4234578c_fk_WEB_registroempresas_id; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public."WEB_vigenciaplan"
    ADD CONSTRAINT "WEB_vigenciaplan_empresa_id_4234578c_fk_WEB_registroempresas_id" FOREIGN KEY (empresa_id) REFERENCES public."WEB_registroempresas"(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: WEB_vigenciaplan WEB_vigenciaplan_plan_id_2aec3976_fk_WEB_plan_id; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public."WEB_vigenciaplan"
    ADD CONSTRAINT "WEB_vigenciaplan_plan_id_2aec3976_fk_WEB_plan_id" FOREIGN KEY (plan_id) REFERENCES public."WEB_plan"(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: biometrics_huellas biometrics_huellas_user_id_bdb71ce0_fk_WEB_usuario_id; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.biometrics_huellas
    ADD CONSTRAINT "biometrics_huellas_user_id_bdb71ce0_fk_WEB_usuario_id" FOREIGN KEY (user_id) REFERENCES public."WEB_usuario"(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_WEB_usuario_id; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT "django_admin_log_user_id_c564eba6_fk_WEB_usuario_id" FOREIGN KEY (user_id) REFERENCES public."WEB_usuario"(id) DEFERRABLE INITIALLY DEFERRED;


--
-- PostgreSQL database dump complete
--

