{% extends 'formularios/gestion_adminitrativa/base_formulario.html' %}

{% block header_class %}bg-success{% endblock %}
{% block icon_class %}fa-user-shield{% endblock %}

{% block title %}Nuevo Supervisor para {{ empresa.nombre }}{% endblock %}

{% block info_icon %}fa-id-card{% endblock %}

{% block info_title %}Información del Supervisor{% endblock %}

{% block button_class %}btn-success{% endblock %}

{% block button_icon %}fa-user-check{% endblock %}

{% block button_text %}Crear Supervisor{% endblock %}