{% extends "central.html" %}

{% block content %}
<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-danger">Confirmar Eliminación</h6>
        </div>
        <div class="card-body">
            <p>¿Estás seguro de que deseas eliminar al usuario <strong>{{ object.username }}</strong>?</p>
            <form method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Eliminar</button>
                <a href="{% url 'empresa_detail' object.empresa.pk %}" class="btn btn-secondary">Cancelar</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}