{% extends "central.html" %}

{% block title %}Crear Trabajador {% endblock %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center" style="min-height: 100vh;">
    <div class="card w-50">
        <div class="card-body">
            <h1 class="card-title text-center my-4">Crear Trabajador</h1>
            <form method="post" class="needs-validation" novalidate>
                {% csrf_token %}
                {{ form.as_p }}
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-primary">Guardar</button>
                    <a href="{% url 'lista_empresas' %}" class="btn btn-secondary">Volver</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}