{% extends "central_user.html" %}
{% load static crispy_forms_tags %}

{% block title %}Editar Registro de Asistencia{% endblock %}

{% block content %}
<div class="wrapper">
    <main class="main-content">
        <header class="main-header">
            <div class="d-flex justify-content-between w-100">
                <div class="d-flex align-items-center gap-3">
                    <button class="sidebar-toggle-mobile btn btn-icon">
                        <i class="fas fa-bars"></i>
                    </button>
                    <h1 class="h4 mb-0">Editar Registro de Asistencia</h1>
                </div>
                <div class="header-actions">
                    
                </div>
            </div>
        </header>
        <div class="content-container">
            <div class="card operational-card">
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                    </form>
                </div>
            </div>
        </div>
    </main>
</div>
{% endblock %}