<style>
  #sidebarMenu {
    margin-top: 130px;
    background-color: #f8f9fa; /* Color de fondo más claro y moderno */
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2); /* Sombra lateral */
    border-radius: 8px; /* Bordes redondeados */
    padding: 10px;
  }

  .nav-link {
    color: #333;
    padding: 10px;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
  }


  .nav-link:hover {
    background-color: #e9ecef;
    color: #000;
    transform: scale(1.05);
  }

  .sidebar-sticky {
    padding: 15px;
  }

  .collapse ul {
    padding-left: 15px;
  }

  .nav-item {
    margin-bottom: 5px;
  }
  #clientes{
    font-size: 20px;
  }
  #permisos{
    font-size: 20px ;
  }
</style>

<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block sidebar collapse">
  <div class="sidebar-sticky pt-3">
    <ul class="nav flex-column">
      <!-- Home según el rol -->
      <li class="nav-item">
        {% if role == "admin" %}
          <a class="nav-link active" href="{% url 'admin_home' %}">
            <span data-feather="home"></span> Home
          </a>
        {% elif role == "supervisor" %}
          <a class="nav-link active" href="{% url 'supervisor_home' %}">
            <span data-feather="home"></span> Home
          </a>
        {% elif role == "trabajador" %}
          <a class="nav-link active" href="{% url 'trabajador_home' %}">
            <span data-feather="home"></span> Home
          </a>
        {% endif %}
      </li>

      <!-- Configuración de Software -->
     
      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="collapse" href="#configuracionSoftware" role="button" aria-expanded="false" aria-controls="configuracionSoftware">
          <span data-feather="settings"></span> Configuración de Software
        </a>
        <div class="collapse" id="configuracionSoftware">
          <ul class="nav flex-column ms-3">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'crear_admin' %}">
                  <span data-feather="user-plus"></span> Crear Administrador
                </a>
              </li>
             
              <li class="nav-item">
                <a class="nav-link" href="{% url 'crear_supervisor' %}">
                  <span data-feather="user-check"></span> Crear Supervisor
                </a>
              </li>
         
              <li class="nav-item">
                <a class="nav-link" href="{% url 'crear_trabajador' %}">
                  <span data-feather="user-plus"></span> Crear Usuario
                </a>
              </li>
           
          </ul>
        </div>
      </li>
     
      
      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="collapse" href="#configuracionEmpresas" role="button" aria-expanded="false" aria-controls="configuracionEmpresas">
          <i class="bi bi-building me-2" id="clientes"></i> clientes
        </a>
        <div class="collapse" id="configuracionEmpresas">
          <ul class="nav flex-column ms-3">
            {% for permiso in user_permisos %}
            {% if permiso.nombre == "vista_empresas" %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'listar_empresas' %}">
                  <i class="bi bi-building me-2" id="clientes" ></i> Lista clientes
              </a>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'listar_planes' %}">
                    <i class="bi bi-building me-2" id="clientes" ></i> Planes
                </a>
            </li>
            {% endif %}
           {% endfor %}
          </ul>
        </div>
      </li>
     
      <!-- Otras opciones basadas en permisos -->
      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="collapse" href="#configuracionPermisos" role="button" aria-expanded="false" aria-controls="ConfiguraciónPermisos">
          <i class="bi bi-key me-2" id="permisos"></i> Configuración de Permisos
        </a>
        <div class="collapse" id="configuracionPermisos">
          <ul class="nav flex-column ms-3">

            <li class="nav-item">
              <a class="nav-link" href="{% url 'crear_permiso' %}">
                <i class="bi bi-key me-2" id="permisos" ></i>Crear Opciones del Sistema
              </a>
            </li>
            
            <li class="nav-item">
              <a class="nav-link" href="{% url 'lista_permisos' %}">
                <i class="bi bi-key me-2" id="permisos" ></i> Lista de Permisos
              </a>
            </li>
           
        
      
    </ul>
  </div>
</nav>
