<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenido a Nuestra Plataforma</title>
</head>
<body>
    <h2>Bienvenido, {{ nombre_empresa }}</h2>
    <p>Se ha creado una cuenta de supervisor para usted en nuestra plataforma.</p>
    <p><strong>Username:</strong> {{ username }}</p>
    <p><strong>Contraseña:</strong> {{ password }}</p>
    <p>Por favor, cree un supervisor nuevo, luego elimine este, este es temporal.</p>
    <p>Gracias por unirse a nosotros.</p>
</body>
</html>